@import url(main.css);

figure {
  display: flex;
  flex-flow: column wrap;
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.7;
  background-color: #001219;
  color: white;
  padding: 1rem;
}

img {
  width: 100%;
}

@media (min-width: 600px) {
  .row {
    display: flex;
    flex-flow: row wrap;
    gap: 1%;
    justify-content: space-between;
  }

  figure {
    flex-basis: 48%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .row {
    max-width: 1200px;
    margin: 0 auto;
  }

  figure {
    flex-basis: 26%;
  }
}